body {
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
}

.red {
    font-family: Cambria;
    font-size: 3vw;
    color: white;
}

.img{
    height: auto;
    width: 20%;
    border-radius: 50%;
    padding: 10px;
}

.container{
    display: flex;
    background-color: red;
    justify-content: space-evenly;
}


.card {
    font-family: Arial;
    font-size: 30px;
    text-align: center;
    margin: 50px;
}


.titulos {
    font-family: Cambria;
    font-size: 40px;
    text-align: center;
    color: red;

}

.apresentacao {
    font-family: Arial;
    font-size: 30px;
    text-align: center;
    margin: 50px;
}